
*{
    box-sizing: border-box;
}


body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #1F1F1F;
    text-align: center;
    padding: 40px;
    width: 384px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

li {
    background-color: #333333;
    margin-bottom: 10px;
}

a {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}
